<!DOCTYPE html>
<html>


<head>
	
	<title>Best Blog Evar</title>

</head>

<body>
	<div>

		<h1><a href="">This is Elizabeth's First Django Blog</a></h1>

			<p>Published: 7.18.2015 at 15:43</p>

		<h2>Or: The Day Elizabeth Tried to Learn to Program</h2>
	
			<p>I've decided that it's time to learn Django. I'm going to document my learning through this blog. Yay blogging! Why use Django to make a blog and not WordPress or Drupal? Because the Django Mascot is a flying pony! Yay flying ponies!</p>
	</div>

</body>



</html>